.ByteHighBit {

    font-family: monospace;

    min-width: 2em;

    margin: 0.25rem;
    padding: 0.25rem;

    text-align: center;

    display:inline-block;

    border: solid;
    border-width: thin;

    background-color: #e0e0ff;

}
